
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

  .node circle {
    fill: #d3d3d3;
    stroke: white;
    stroke-width: 3px;
  }
  .textId {
    cursor: default;
    font-family: 'Audiowide';
  }
  .node text {
    font: 12px sans-serif;
    font-family: 'Audiowide';
  }
  #blocks_container {
    text-align: center;
  }
  h2 {
    color: #e88300;
  }
  .link {
    fill: none;
    
    stroke: black;
    stroke-width: 2.5px;
  }

  .hidden {
    stroke: rgba(0, 0, 0, 0.1);
  }
  .nhidden {
    fill: #f3e9dc !important;
    fill-opacity: 0 !important;
    stroke-width: 0px;
  }
  .lhidden {
    fill: #f3e9dc !important;
    fill-opacity: 0 !important;
    stroke: #f3e9dc !important;
    stroke-width: 0px;
  }
  .ce {
    fill: #f3e9dc !important;
    fill-opacity: 0;
    stroke: #f3e9dc !important;
    stroke-width: 0px;
  }
  .svg_container {
    margin: 0 auto;
    width: 100%;
   
  }

  #btn-group1 {
    float: right;
  }
  #btn-group2 {
    float: left;
  }
 /*body {
    background-color: #222222;
    background: repeating-linear-gradient(
        45deg,
        #2b2b2b 0%,
        #2b2b2b 10%,
        #222222 0%,
        #222222 50%
      )
      0 / 15px 15px;
  }*/
  
  #buttonPostorder,
  #buttonClear,
  #buttonInorder,
  #buttonRandomBST,
  #buttonFixedBST,
  #buttonPreorder,
  #btnInsertRandom,
  #btnDeleteRandom,
  #btnInsert {
    color: #fff;
    border-radius: 5px;
    padding: 30px 60px 25px 60px;
    font-family: 'Audiowide';
    font-weight: 500;

    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    margin: 0.2em;
  }

  .btnCustom {
    
    line-height: 1.2em;
    padding: 0;
    border: none;
    background: rgb(156, 175, 255);
    background: linear-gradient(
      0deg,
      rgb(118, 240, 238) 0%,
      rgb(55, 109, 179) 100%
    );
  }
  .btnCustom:hover {
    color: #67549d !important;
    background: transparent;
    box-shadow: none;
  }
  .btnCustom:before,
  .btnCustom:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 3px;
    width: 0;
    background: rgb(156, 175, 255);
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002;
    transition: 400ms ease all;
  }
  .btnCustom:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  .btnCustom:hover:before,
  .btnCustom:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }
  .btnCustom span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  #main_title {
    text-align: center;
    font-size: 3em;
    margin: 1px 0 1px 0;
    padding-bottom: 1.5em;
  }
  
  #main_link {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  p:nth-child(1) a {
    font-size: 1em;
    color: #e88300;
    font-family: 'Audiowide';
  }
  .jumbotron {
    background: transparent;
  }
  
  p:nth-child(1) a:hover {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
  @-webkit-keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
  @-moz-keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }

  @media only screen and (max-width: 1470px) and (min-width: 500px) {
    /* Design for desktop */
    button {
      display: inline;
    }
    .svg_container {
      padding-top: 10%;
      width: 100%;
    }

    #btn-group1, #btn-group2 {
      display: inline;
    }
}